<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- 로그 패턴에 색상 적용 %clr(pattern){color} -->
    <conversionRule conversionWord="clr" converterClass="org.springframework.boot.logging.logback.ColorConverter" />


    <springProperty scope="context" name="SPRING_APPLICATION_NAME" source="spring.application.name"/>
    <property name="MAX_HISTORY" value="2" />

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/containers/app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/var/log/containers/app.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
            <maxHistory>${MAX_HISTORY}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>{"@timestamp":"%d{yyyy-MM-dd'T'HH:mm:ss.SSSZ}", "level":"%level", "service":"${SPRING_APPLICATION_NAME}", "trace": "%X{X-B3-TraceId:-}", "span": "%X{X-B3-SpanId:-}", "thread":"%thread", "logger":"%logger", "message":"%msg"}%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%5level) %magenta(${PID:-}) --- [%15(%thread)] [%X{X-B3-TraceId:-},%X{X-B3-SpanId:-}] %cyan(%logger{5}) : %msg%n</pattern>
        </layout>
    </appender>

    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
